@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

/* Header
----------------------------------------------------------*/
.header{
    // margin-top: 2rem;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 2rem 0; 
    width: 90%;
    max-width: 96%;
    margin: 0 auto;
    @include m.tablet{
        padding: 3rem 0;
        width: 96%;
        max-width: 96%;
        margin: 0 auto;
        
    }
    &__logo{
        width: 7rem;
        display: inline;
        @include m.tablet{
            padding-bottom: 3rem;
            margin: 0 auto;
            padding-bottom: unset;
            display: block;
        }
    }
    &__iconMenu{
        @include m.tablet{
            display: none;
        }
    }
    &__icon{
        width: 3rem;
    }
}