@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

/* Horarios
----------------------------------------------------------*/
.horarios{
    // padding: 6rem 0;
    @include m.tablet{
        display: grid;
        grid-template-columns: 1fr 1fr;
        // height: 65rem;
    }

    &__info{
        background-color: v.$beige;
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: v.$blanco;
        @include m.tablet{
            padding: 5rem;
        }
    }
    &__heading{
        text-transform: uppercase;
        text-align: center;
    }
    &__descripcion{
        text-align: center;
        font-size: 2rem;
        line-height: 2;
    }
    &__img{
        // display: none;
        height: 35rem;
        background-image: url(../img/salon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
        position: relative;
        @include m.tablet{
            display: block;
            height: auto;
            background-position: center;
        }
        @include m.desktop{
            background-position: right center;
            height: 60rem;
        }
        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(253, 250, 246, 0.1882352941);
            position: absolute;
        }
    }
}
.tabla {
    width: 100%;
    border: .5rem solid v.$blanco;
    text-align: center;
    border-collapse: collapse; //elimina los bordes en cada celda

    &__thead {

    }
    &__th {
        padding: 2rem;
    }
    &__tr {
        &:hover {
            background-color: darken(v.$beige, 10%);
        }
    }
    &__td {
        padding: 1rem;
        font-size: 2.2rem;
    }
}