@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

/* Productos
----------------------------------------------------------*/
.productos{
    width: 80%;
    @include m.tablet{
        width: unset;
    }
    &__heading{
        text-align: center;
        @include m.headingCursiva;
    }
    &__grid{
        @include m.grid(1, 2rem);
        @include m.tablet{
            @include m.grid(2, 2rem);
        }
        @include m.desktop{
            @include m.grid(4, 2rem);
        }
    }
}
.producto{
    &__imgContainer{
        overflow: hidden;
    }
    &__img{
        // transition: all .25s ease;
        transition-property: transform;
        transition-duration: 250ms;
        &:hover{
            transform: scale(1.2);
        }
    }
    &__info{
        background-color: v.$blanco;
        padding: 2rem;
    }
    &__heading{
        text-transform: uppercase;
        color: v.$beige;
        text-align: center;
        margin-top: 0;
    }
    &__description{
        text-transform: uppercase;
        font-size: 1.6rem;
        line-height: 1.8;
        text-align: center;
    }
    &__precio{
        text-align: center;
        font-size: 2.8rem;
        margin: 0;
        color: v.$beige;
    }

}
