@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

/* Bienvenida
----------------------------------------------------------*/
.servicios{
    // padding: 5rem 0;
    &__grid{
        width: 85%;
        margin: 0 auto;
        @include m.tablet{
            width: 100%;
            margin: unset;
            @include m.grid(3, 2rem);
        }
    }
}
.card{
    &__imgContainer{
        background-color: v.$blanco;
        padding: .5rem;
        transition-property: rotate scale;
        transition-duration: 300ms;
        &:hover{
            transform: scale(1.1) rotate(7deg);
        }
    }
    &__info{
        max-width: 90%;
        margin: 0 auto;
        background-color: v.$blanco;
        text-align: center;
        transform: translateY(-5rem);
    }
    &__heading{
        @include m.headingCursiva();
        padding: 2rem 0;
        margin: 0;
        font-size: 3.5rem;
    }
    &__span{
        font-size: 3rem;
        @include m.tablet{
            font-size: 2.5rem;
        }
        @include m.desktop{
            font-size: 3.5rem;
        }
    }
    &__btn{
        @include m.boton(v.$secundario, v.$blanco);
        display: block;
    }

}