@use 'bases/variables' as v; 
@use 'bases/mixins' as m;


.swiper{
    @include m.tablet{
        width: 96%;
        max-width: 96%;
        margin: 0 auto;
    }
    .swiper-wrapper{
        cursor: grab;
        &:active{
            cursor: grabbing;
        }
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
        @include m.tablet {
            color: v.$blanco;
            display: inline-block;
            font-size: 3rem;
        }
    }
    .swiper-pagination-bullet {
        background-color: v.$blanco;

        @include m.tablet {
            display: none;
        }
    }

    .swiper-pagination-bullet-active {
        background-color: v.$blanco;
    }
    .swiper-img{
        min-height: 23rem;
        object-fit: cover;
        @include m.tablet{
            min-height: unset;
        }
    }
}